@model List<Cliente>

<h2>Lista de Clientes</h2>

<hr />

<a asp-action="Create" class="btn btn-primary">Adicionar Novo Cliente</a>

<hr />
<br />

<table class="table table-dark">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Descricao</td>
        <td>Ações</td>
    </tr>
    @foreach (var cliente in Model)
    {
        <tr>
            <td>@cliente.IdCliente</td>
            <td>@cliente.NomeCliente</td>
            <td>@cliente.Email</td>
            <td>@cliente.Descricao</td>
            <td>

                <a asp-action="Detalhes" asp-route-id="@cliente.IdCliente" class="btn btn-sm btn-primary"><i class="bi bi-card-text"></i> Detalhes</a>
                <a asp-action="Edit" asp-route-id="@cliente.IdCliente" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
                <a asp-action="Delete" asp-route-id="@cliente.IdCliente" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Excluir</a>

               @*  <a href="@Url.Action("Detalhes", "Cliente", new { id = cliente.IdCliente })" class="btn btn-sm btn-primary">Detalhes</a>
                <a href="@Url.Action("Excluir", "Cliente", new { id = cliente.IdCliente })" class="btn btn-sm btn-danger">Excluir</a> *@
            </td>
        </tr>
    }
</table>