@model List<Produto>

<h1>Lista de produtos</h1>
<a asp-action="Create" class="btn btn-primary">Adicionar Novo Produto</a>
<hr />

<table class="table table-dark">
    <thead>
        <tr>
            <th>Id Produto</th>
            <th>Nome Produto</th>
            <th>Descrição</th>
            <th>Preco</th>
            <th>Ações</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Descricao</td>
                <td>@produto.Preco</td>
                <td>

                    <a asp-action="Detalhes" asp-route-id="@produto.Id" class="btn btn-sm btn-primary"><i class="bi bi-card-text"></i> Detalhes</a>
                    <a asp-action="Editar" asp-route-id="@produto.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Excluir" asp-route-id="@produto.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Excluir</a>

                </td>

            </tr>
        }
    </tbody>

</table>